<?xml version="1.0" ?>
<model>
    <name>walls_with_one_room</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Piotr Patek</name>
        <email>piotrpatek17@gmail.com</email>
    </author>
    <description>Arena walls with one room</description>
</model>
